@model IEnumerable<ADO_EXAMPLES.Models.Product>

@{
    ViewBag.Title = "Index";
}

@if (TempData["InfoMessage"] !=null)
 {
    <div class="alert alert-info">
        <strong>Information :</strong>   @TempData["InfoMessage"]
        <button type="button" class="btn-close" data_dismiss="alert" aria-label="Close">
            <span>x</span>
        </button>
    </div>
 }
<h2>Index</h2>


<p>
    @Html.ActionLink("Create New Product", "Create", null,new {@class = "btn btn-primary"})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Qty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarks)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Qty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remarks)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ProductID }, new { @class = "btn btn-primary" }) &nbsp;&nbsp;&nbsp;
            @Html.ActionLink("Details", "Details", new { id = item.ProductID }, new { @class = "btn btn-success" })&nbsp;&nbsp;&nbsp;
            @Html.ActionLink("Delete", "Delete", new { id = item.ProductID }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
